/Criação/Singleton/out/production/Singleton/br/com/lucasbertoloto/singleton/Application.class
/Criação/Singleton/out/production/Singleton/br/com/lucasbertoloto/singleton/SingletonClass.class
/Criação/Singleton/out/production/Singleton/br/com/lucasbertoloto/singleton/SingletonMultiThreadClass.class
/Criação/Singleton/out/production/Singleton/br/com/lucasbertoloto/singleton/ThreadClass.class
